@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container-grid {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 80px;
    background-color: black;
    position: relative;
}

.menu-hamburger {
    width: 150px;
}

.logo a{
    position: center;
    align-items: center;
       
    
}
.icones-menu {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .search {
    height: 40px;
    background-color: rgb(83, 81, 81);   
}

.pesquisa {
    justify-content: center;
    border: none;
    width: 400px;
    height: 28px;
    background-color: white;
    padding: 1px;
    border-radius: 5px;
}

.search-txt {
    border: none;
    width: 472px;
    height: 25px;
}

.pesquisa a{
    height: 100%; */
}

